<%= link_to raw("Back to list &raquo;") , kshetrams_path  ,:class => "link_button"%>
<table class="form">
	<tr>
		<td> Name of kshetram</td>
		<td> <%=text_field "kshetram" , "name" %> </td>
	</tr>
	<tr>
		<td> Place of kshetram</td>
		<td> <%= text_field "kshetram" , "place" %></td>
	</tr>
	<tr>
		<td> <%=submit_tag "save"%> </td>
		<td> <%=submit_tag "Reset" ,:type => "reset"%> </td>
	</tr>
</table>